*.cydsn/codegentemp/
*.cydsn/CortexM3/
*.cydsn/Export/
*.cydsn/Generated_Source/
*.cydsn/*.rpt
*.cydsn/*_timing.html
*.cydsn/*.cyprj.*
*.cydsn/BUILD.log
*.cydsn/CLEAN.log
*.cydsn/REBUILD.log

Backup/

*.cywrk.*

# Catkin custom files
CATKIN_IGNORE
